/*font size (body)*/
/*Colors */
/**********Mixing***********/
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

header {
  height: 100vh;
  width: 100vw;
}
header nav {
  position: relative;
  width: 100%;
  height: 9vh;
  background-color: gray;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header nav img {
  width: 100px;
  height: 20px;
}
header nav .navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header nav .items {
  padding: 10px;
  list-style: none;
  color: #242d52;
  font-weight: 500;
  font-size: 1rem;
  font-family: Be Vietnam Pro;
  cursor: pointer;
}
header nav .btns button {
  padding: 10px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffefeb;
  background-color: #f25f3a;
  filter: contrast(92.5%) brightness(92.5%);
  width: 120px;
  height: 40px;
  font-size: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: Be Vietnam Pro;
}
header nav .burger {
  width: 35px;
  height: 30px;
  transition: all 0.6s ease-out;
  display: none;
  cursor: pointer;
}
header nav .burger .bars {
  width: 100%;
  height: 5px;
  margin-top: 5px;
  background-color: #242d52;
  border-radius: 3px;
}
header .header_cont {
  display: flex;
  align-items: center;
  align-items: initial;
}
header .header_cont .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
header .header_cont .container .text_one {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
header .header_cont .container .text_one span {
  display: block;
  font-size: 50px;
  padding-right: 20px;
  position: relative;
  right: 20px;
}
header .header_cont .container .text_two {
  display: flex;
  align-items: center;
  flex-direction: column;
}
header .header_cont .container .text_two p {
  font-size: 20px;
}
header .header_cont .imgs {
  display: flex;
  align-items: center;
  position: relative;
}
header .header_cont .imgs .arrow {
  position: relative;
  top: -25%;
  z-index: -1;
  left: 25%;
}
header .header_cont .imgs .stat {
  position: absolute;
  right: 20%;
}
header .header_cont .imgs .stat img {
  width: 500px;
  height: 500px;
}

@media screen and (max-width: 710px) {
  header nav .navigation {
    position: absolute;
    top: 10vh;
    height: 50vh;
    flex-direction: column;
    justify-content: space-around;
    transition: transform 0.7s ease, opacity 0.9s ease-out;
    transform: translateY(-250%);
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), -1px -1px 3px rgba(0, 0, 0, 0.2);
    opacity: 0;
    padding: 25%;
    background-color: #fff;
  }
  header nav .navigation .items {
    font-size: 1.3rem;
  }
  header nav .active_ul {
    transform: translateY(0%);
    opacity: 1;
  }
  header nav .btns {
    display: none;
  }
  header nav .burger {
    display: block;
  }
  header nav .actived .bar1 {
    transform: translateY(10px) rotate(45deg);
  }
  header nav .actived .bar2 {
    transform: translateX(-100px);
    opacity: 0;
  }
  header nav .actived .bar3 {
    transform: translateY(-10px) rotate(-45deg);
  }
}

/*# sourceMappingURL=style.css.map */
